@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pangolin&family=Roboto&family=Ubuntu&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.navbar-container {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #2B2A4C;
}

#title {
    padding: 15px;
    text-decoration: none;
    font-size: 20pt;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    color: #B31312;
}

.navbar-container nav ul li {
    list-style: none;
    display: inline;
    float: left;
}

.navbar-container nav ul li a {
    padding: 15px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #EA906C;
}